In [1]:
#This is a kernel for setting benchmarks on Wine Quality Dataset. This dataset will proceed in the following way -
#Pre-Process data using - Missing values imputation, Duplicates removal
#Feature Selection using PCA
#Setting Model Benchmarks by Cross Validation & Hyperparametrization when required
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_noise = pd.read_csv('../../NumericData/20_noisy_winequality.csv')
data_noise.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,1.50,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,10.29,6
1,white,6.3,0.30,0.92,20.81,0.049,14.0,132.0,0.9940,3.30,0.68,9.50,6
2,white,8.1,0.28,0.40,6.90,0.460,30.0,97.0,0.9951,3.10,0.44,10.10,6
3,white,7.2,0.83,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.90,6
4,white,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.90,6

In [3]:
data_noise.shape

(6497, 13)

In [4]:
data_original = pd.read_csv('../../NumericData/winequality.csv')
data_original.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
data_original.shape

(6497, 13)

In [6]:
data_noise.corr

<bound method DataFrame.corr of        type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0     white           7.00             0.270         1.50           20.70
1     white           6.30             0.300         0.92           20.81
2     white           8.10             0.280         0.40            6.90
3     white           7.20             0.830         0.32            8.50
4     white           7.20             0.230         0.32            8.50
5     white           8.10             0.280         0.40            6.90
6       red           6.20             0.320         0.16            7.00
7     white           6.26             0.270         0.36           20.70
8     white          14.32             0.530         0.34            1.60
9     white           8.10             1.350         1.58            1.50
10      red           8.10             0.270         0.41            1.45
11    white           8.60             0.230         0.40           13.63
12    white           7.90             0.180         0.37            1.20
13    white           6.60             0.160         0.40            1.50
14    white           8.30             0.610         1.28           19.25
15    white           6.60             0.170         0.47            1.50
16    white           6.30             0.480         0.04            1.10
17    white           9.68             0.660         0.70            1.20
18      red           7.40             0.340         0.42            1.10
19      red           6.50             0.310         0.14           36.78
20    white           6.20             0.660         0.48            1.20
21    white           6.40             0.310         1.47            2.90
22    white          13.48             0.260         0.42            1.70
23    white           7.60             0.670         1.49            1.50
24    white           6.60             0.270         0.41            1.30
25    white           7.00             0.250         0.76            9.00
26    white           6.90             0.240         0.24            1.00
27    white           7.00             0.280         1.53            8.70
28    white           7.40             0.270         0.48            1.10
29    white           7.20             0.320         0.36           16.57
...     ...            ...               ...          ...             ...
6467    red           8.15             0.510         0.14           52.93
6468    red           6.98             0.360         1.13            2.20
6469    red           6.40             0.130         0.14            2.20
6470    red           7.30             0.690         0.32            2.20
6471    red           6.00             0.580         0.00            2.40
6472    red           5.60             0.310         0.78           13.90
6473    red           6.15             0.520         0.40            2.20
6474    red          13.72             1.350         0.63            1.60
6475    red          10.13             0.700         0.15           52.98
6476    red           6.80             0.670         0.47           40.96
6477    red           6.20             0.560         0.09            1.70
6478    red           7.40             0.350         0.33            2.40
6479    red           6.20             0.560         1.20            1.70
6480  white           8.83             0.715         0.10            2.60
6481    red           6.20             0.460         1.63           11.62
6482    red           6.70             0.750         0.38            2.40
6483  white           7.20             0.390         0.44           40.79
6484    red           7.50             0.950         0.41            2.40
6485    red           5.80             0.630         0.11            1.80
6486    red          15.78               NaN         0.33           14.21
6487    red           6.60             0.725         0.20            7.80
6488    red           6.30             0.550         0.15            1.80
6489    red           5.40             0.740         0.09            1.70
6490    red           6.30             0.510         0.54            2.30
6491    red           6.80             0.910         0.08           59.88
6492    red           6.20             0.600         0.08            2.00
6493    red           4.51             0.550         0.53            2.20
6494    red           6.30             0.540         0.13            2.30
6495    red          10.70             0.645         0.12            2.00
6496    red           6.00             0.310         0.47            3.60

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.045                45.00                170.00  1.00100  3.00
1         0.049                14.00                132.00  0.99400  3.30
2         0.460                30.00                 97.00  0.99510  3.10
3         0.058                47.00                186.00  0.99560  3.19
4         0.058                47.00                186.00  0.99560  3.19
5         0.050                30.00                 97.00  0.99510  3.26
6         0.045                30.00                136.00  0.99490  3.18
7         0.045                45.00                170.00  1.00000  2.73
8         0.049                52.49                337.22  1.01000  3.30
9         0.044               235.78                129.00  1.03000  2.82
10        0.033                11.00                 63.00  1.01000  2.99
11        0.035                17.00                205.52  0.99470  3.14
12        0.040                16.00                 72.34  0.99200  3.18
13        0.044                48.00                422.57  1.01000  3.14
14        0.040                41.00                306.07  1.00020  2.98
15        0.060               219.81                112.00  0.99140  3.25
16        0.046                30.00                 99.00  1.03000  3.24
17        0.490                29.00                238.42  0.98920  3.61
18        0.033                17.00                171.00  0.99170  3.12
19        0.090                34.00                133.00  0.99550  2.87
20        0.029                29.00                 75.00  0.98920  3.33
21        0.038                90.71                102.00  0.99000  3.17
22        0.049                41.00                 49.12  0.99300  3.47
23        0.074                25.00                168.00  0.99370  3.07
24        0.052                16.00                142.00  1.00000  3.42
25        0.046                56.00                245.00  0.99550  3.25
26        0.052                35.00                209.29  0.99300  3.45
27        0.051                32.00                438.84  0.99000  3.38
28        0.047                17.00                132.00  0.99140  3.19
29        0.033                37.00                401.81  0.99060  3.10
...         ...                  ...                   ...      ...   ...
6467      0.056                15.00                 34.00  1.04000  3.48
6468      0.230                19.00                 35.00  0.99340  3.37
6469      0.038               176.48                 60.98  0.99514  3.28
6470      0.069                35.00                420.19  0.99632  3.33
6471      0.075                15.00                 50.00  0.99467  3.58
6472      0.074                23.00                 92.00  0.99677  3.39
6473      0.060                12.00                 20.00  0.99474  3.26
6474      0.081               259.80                 29.00  0.99588  3.30
6475      0.076                13.00                275.77  0.99622  3.54
6476      0.340                13.00                 20.00  1.00000  3.42
6477      0.053                24.00                 32.00  1.01000  3.54
6478      0.068                 9.00                 26.00  0.99470  3.36
6479      0.120                24.00                 32.00  0.99402  3.54
6480      0.350                27.84                 27.00  1.01000  3.57
6481      0.190                32.00                 98.00  0.99578  3.33
6482      0.390                24.00                375.04  0.99484  3.29
6483      0.066                22.00                 48.00  1.02000  3.30
6484      0.065                34.00                 60.00  0.99492  3.34
6485      0.066                69.55                 28.00  0.99483  3.55
6486      0.068                34.00                102.00  1.01000  3.27
6487      0.073               265.43                 79.00  0.99770  3.29
6488      0.200               183.03                 35.00  0.99314  3.32
6489      0.089                16.00                104.70  0.99402  3.67
6490      0.076                29.00                345.84  1.03000  3.94
6491      0.068                28.00                 38.00  1.01000  3.18
6492      0.090                32.00                 44.00  0.99490  3.45
6493      0.062               139.86                 51.00  0.99512  3.52
6494      0.076                29.00                430.32  0.99574  2.93
6495      0.075                32.00                260.51  0.99547  3.57
6496      0.067               201.31                361.57  0.99549  2.98

      sulphates  alcohol  quality
0          0.45    10.29        6
1          0.68     9.50        6
2          0.44    10.10        6
3          0.40     9.90        6
4          0.40     9.90        6
5          0.44    13.23        6
6          0.47     9.03        6
7          0.45     8.80        6
8          0.49     9.50        6
9          0.83    11.00        6
10         0.86    12.00        5
11         0.53     8.25        5
12         0.63    10.80        5
13         0.52    12.40        7
14         0.67     9.70        5
15         1.92    11.40        7
16         0.36     9.60        6
17         1.00     9.75        8
18         0.53    10.05        6
19         0.50     9.50        5
20         1.34    14.16        8
21         1.33    11.00        7
22         0.48    10.50        8
23         1.35     9.30        5
24         0.47    10.00        6
25         0.50    10.40        6
26         0.44    12.44        6
27         0.53    13.20        6
28         0.66    13.99        6
29         0.71     9.95        7
...         ...      ...      ...
6467       0.85    11.50        6
6468       0.93    11.75        6
6469       0.65    11.10        6
6470       0.51     9.50        5
6471       0.67    12.50        6
6472       0.48    10.50        6
6473       0.64    11.80        6
6474       0.78    13.53        6
6475       0.60    11.90        6
6476       0.26    11.30        6
6477       0.60    11.30        5
6478       0.60    11.90        6
6479       0.60    13.25        5
6480       0.50    11.90        5
6481       0.62    13.53        5
6482       0.80    11.60        7
6483       0.84    11.50        6
6484       0.85    11.40        6
6485       0.66    10.90        6
6486       0.78    12.80        6
6487       0.36     9.20        5
6488       0.82    11.60        6
6489       0.56    11.60        6
6490       0.75    11.00        6
6491       0.82     9.50        6
6492       0.58     9.93        5
6493        NaN    14.47        6
6494       0.75    10.65        6
6495       0.71     8.90        5
6496       0.66    11.00        6

[6497 rows x 13 columns]>

In [7]:
data_noise.columns

Index(['type', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')

In [8]:
data_noise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
type                    6497 non-null object
fixed acidity           6490 non-null float64
volatile acidity        6490 non-null float64
citric acid             6495 non-null float64
residual sugar          6496 non-null float64
chlorides               6496 non-null float64
free sulfur dioxide     6497 non-null float64
total sulfur dioxide    6497 non-null float64
density                 6497 non-null float64
pH                      6490 non-null float64
sulphates               6493 non-null float64
alcohol                 6497 non-null float64
quality                 6497 non-null int64
dtypes: float64(11), int64(1), object(1)
memory usage: 659.9+ KB

In [9]:
data_noise['quality'].unique()

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [10]:
#count of each target variable
from collections import Counter
Counter(data_noise['quality'])

Counter({6: 2836, 5: 2138, 7: 1079, 8: 193, 4: 216, 3: 30, 9: 5})

In [11]:
#next we shall create a new column called Review. This column will contain the values of 1,2, and 3. 
#1 - Bad
#2 - Average
#3 - Excellent
#This will be split in the following way. 
#1,2,3 --> Bad
#4,5,6,7 --> Average
#8,9,10 --> Excellent
#Create an empty list called Reviews
reviews = []
for i in data_noise['quality']:
    if i >= 1 and i <= 3:
        reviews.append('1')
    elif i >= 4 and i <= 7:
        reviews.append('2')
    elif i >= 8 and i <= 10:
        reviews.append('3')
data_noise['Reviews'] = reviews

In [12]:
#next we shall create a new column called Review. This column will contain the values of 1,2, and 3. 
#1 - Bad
#2 - Average
#3 - Excellent
#This will be split in the following way. 
#1,2,3 --> Bad
#4,5,6,7 --> Average
#8,9,10 --> Excellent
#Create an empty list called Reviews
reviews = []
for i in data_original['quality']:
    if i >= 1 and i <= 3:
        reviews.append('1')
    elif i >= 4 and i <= 7:
        reviews.append('2')
    elif i >= 8 and i <= 10:
        reviews.append('3')
data_original['Reviews'] = reviews

In [13]:
#view final data
data_noise.columns

Index(['type', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality', 'Reviews'],
      dtype='object')

In [14]:
data_noise['Reviews'].unique()

array(['2', '3', '1'], dtype=object)

In [15]:
Counter(data_noise['Reviews'])

Counter({'2': 6269, '3': 198, '1': 30})

In [16]:
x_noise = data_noise.iloc[:,1:11]
y_noise = data_noise['Reviews']

In [17]:
data_noise.shape

(6497, 14)

In [18]:
x_noise.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
0,7.00,0.27,1.50,20.70,0.045,45.00,170.00,1.0010,3.00,0.45
1,6.30,0.30,0.92,20.81,0.049,14.00,132.00,0.9940,3.30,0.68
2,8.10,0.28,0.40,6.90,0.460,30.00,97.00,0.9951,3.10,0.44
3,7.20,0.83,0.32,8.50,0.058,47.00,186.00,0.9956,3.19,0.40
4,7.20,0.23,0.32,8.50,0.058,47.00,186.00,0.9956,3.19,0.40
5,8.10,0.28,0.40,6.90,0.050,30.00,97.00,0.9951,3.26,0.44
6,6.20,0.32,0.16,7.00,0.045,30.00,136.00,0.9949,3.18,0.47
7,6.26,0.27,0.36,20.70,0.045,45.00,170.00,1.0000,2.73,0.45
8,14.32,0.53,0.34,1.60,0.049,52.49,337.22,1.0100,3.30,0.49
9,8.10,1.35,1.58,1.50,0.044,235.78,129.00,1.0300,2.82,0.83

In [19]:
y_noise.head(10)

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
8    2
9    2
Name: Reviews, dtype: object

In [20]:
#Find missing values
from sklearn.base import BaseEstimator, TransformerMixin, clone, ClassifierMixin
data_noise.dropna(inplace=True)

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """
        Impute missing values:
        - Columns of dtype object are imputed with the most frequent value in column.
        - Columns of other types are imputed with mean of column.
        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

data_noise = DataFrameImputer().fit_transform(data_noise)

In [21]:
data_noise.shape

(6472, 14)

In [24]:
#Find missing values
data_original=data_original.iloc[0:6472, :]

In [25]:
data_original.shape

(6472, 14)

In [26]:
# importing model for feature importance
from sklearn.ensemble import ExtraTreesClassifier

# passing the model
model = ExtraTreesClassifier(random_state = 53)

# feeding all our features to var 'X'
X = data_noise.iloc[:,1:11]
# feeding our target variable to var 'y'
y = data_noise['Reviews']

# training the model
model.fit(X, y)

# extracting feature importance from model and making a dataframe of it in descending order
ETC_feature_importances = pd.DataFrame(model.feature_importances_, index = X.columns, columns=['ETC']).sort_values('ETC', ascending=False)

# removing traces of this model
model = None

# show top 10 features
ETC_feature_importances.head(8)

C:\Users\souro\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                           ETC
total sulfur dioxide  0.106847
density               0.106171
volatile acidity      0.104495
sulphates             0.100934
chlorides             0.099881
residual sugar        0.099473
fixed acidity         0.098635
pH                    0.096015

In [27]:
# importing model for feature importance
from sklearn.ensemble import RandomForestClassifier

# passing the model
model = RandomForestClassifier(random_state = 53)

# training the model
model.fit(X, y)

# extracting feature importance from model and making a dataframe of it in descending order
RFC_feature_importances = pd.DataFrame(model.feature_importances_, index = X.columns, columns=['RFC']).sort_values('RFC', ascending=False)

# removing traces of this model
model = None

# show top 10 features
RFC_feature_importances.head(8)

C:\Users\souro\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                           RFC
total sulfur dioxide  0.129290
density               0.120844
fixed acidity         0.106754
citric acid           0.100670
sulphates             0.093302
free sulfur dioxide   0.092661
pH                    0.091698
chlorides             0.088780

In [28]:
# importing model for feature importance
from sklearn.ensemble import AdaBoostClassifier

# passing the model
model = AdaBoostClassifier(random_state = 53)

model.fit(X, y)

# extracting feature importance from model and making a dataframe of it in descending order
ADB_feature_importances = pd.DataFrame(model.feature_importances_, index = X.columns, columns=['ADB']).sort_values('ADB', ascending=False)

# removing traces of this model
model = None

ADB_feature_importances.head(10)

                       ADB
free sulfur dioxide   0.18
citric acid           0.16
residual sugar        0.16
total sulfur dioxide  0.14
sulphates             0.12
volatile acidity      0.08
chlorides             0.06
density               0.04
pH                    0.04
fixed acidity         0.02

In [29]:
loop = 150

In [30]:
y.shape

(6472,)

In [31]:
data_noise.shape

(6472, 14)

In [32]:
data_original.shape

(6472, 14)

In [33]:
cols=data_noise.columns
cols = list(cols.drop(['type', 'Reviews', 'quality','pH','chlorides']))
data_noise.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Reviews
0,white,7.0,0.27,1.50,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,10.29,6,2
1,white,6.3,0.30,0.92,20.81,0.049,14.0,132.0,0.9940,3.30,0.68,9.50,6,2
2,white,8.1,0.28,0.40,6.90,0.460,30.0,97.0,0.9951,3.10,0.44,10.10,6,2
3,white,7.2,0.83,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.90,6,2
4,white,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.90,6,2

In [34]:
from sklearn.model_selection import train_test_split
cols=data_noise.columns
cols = list(cols.drop(['type', 'Reviews', 'quality','pH','chlorides']))
X_train_noise = []
X_test_noise = []
y_train_noise = []
y_test_noise = []
for i in range(0, loop):
    X_train_noisey, X_test_noisey, y_train_noisey, y_test_noisey = train_test_split(data_noise.loc[:, cols], data_noise.iloc[:, 13], test_size=0.20, random_state=i)
    X_train_noise.append(X_train_noisey)
    X_test_noise.append(X_test_noisey)
    y_train_noise.append(y_train_noisey)
    y_test_noise.append(y_test_noisey)

In [35]:
data_original.loc[:, cols].shape

(6472, 9)

In [36]:
y.shape

(6472,)

In [37]:
data_original.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Reviews
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,2
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,2
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,2
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2

In [38]:
from sklearn.model_selection import train_test_split
cols=data_original.columns
cols = list(cols.drop(['type', 'Reviews', 'quality','pH','chlorides']))
X_train_original = []
X_test_original = []
y_train_original = []
y_test_original = []
for i in range(0, loop):
    X_train_originalx, X_test_originalx, y_train_originalx, y_test_originalx = train_test_split(data_original.loc[:, cols], data_original.iloc[:, 13], test_size=0.20, random_state=i)
    X_train_noise.append(X_train_originalx)
    X_test_noise.append(X_test_originalx)
    y_train_noise.append(y_train_originalx)
    y_test_noise.append(y_test_originalx)

In [39]:
from sklearn.linear_model import LogisticRegression

y_pred = []
for i in range(0, loop):
    model = LogisticRegression()
    model.fit(X_train_noise[i], y_train_noise[i].ravel())
    y_predi = model.predict(X_test_original[i])
    y_pred.append(y_predi)

C:\Users\souro\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\souro\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

IndexError: list index out of range

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
accuracy = []
f1 = []
for i in range(0, loop):
    cm = confusion_matrix(y_test_original[i], y_pred[i])
    #print(cm)
    #print(accuracy_score(y_test_original[i], y_pred[i]))
    #print(f1_score(y_test_original[i], y_pred[i],average='weighted'))
    accuracy.append(accuracy_score(y_test_original[i], y_pred[i]))
    f1.append(f1_score(y_test_original[i], y_pred[i],average='weighted'))

print("Mean Accuracy is : "+str(np.mean(accuracy)))
print("Mean F1 is : "+str(np.mean(f1)))